In [1]:
import csv
import pandas as pd
headers = ['Input']
cal = pd.read_csv('input.txt', sep=" ", names=headers, header=None)
cal['Numbers'] = [0]*len(cal)
cal.head()
pd.set_option('display.max_colwidth', None)

In [2]:
import re

# Define a dictionary to map spelled out numbers to digits
number_dict = {'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6', 'seven': '7', 'eight': '8', 'nine': '9'}

for index, row in cal.iterrows():
    for item in row:
        if isinstance(item, str):  # Check if the item is a string
            # Sort the dictionary items by the length of the keys in descending order
            for word, digit in sorted(number_dict.items(), key=lambda x: len(x[0]), reverse=True):
                item = re.sub(word, digit, item)  # Replace each occurrence of the word with the digit
            digit_string = re.sub('\D', '', item)  # Remove any non-digit characters from the updated item string
            if digit_string:  # If there are any digits
                cal.at[index, 'Numbers'] = digit_string  # Assign the first digit to the new column

<ipython-input-2-79350e0f1090>:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '11' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cal.at[index, 'Numbers'] = digit_string  # Assign the first digit to the new column

In [3]:
cal.head()

                               Input   Numbers
0                         qzjggk1one        11
1                         two2seven7      2277
2        vszthreetwo6threethree4two3  32633423
3  zcsvvlslqvfive11chhzmdjdgz8vbgldl      5118
4          jjsmsksvbr77cfdrdseven1zd      7771

In [4]:
# Define a function to extract the first and last digits
def extract_digits(number):
    # Convert the number to a string
    number_str = str(number)
    # Return the first and last digits
    return pd.Series([int(number_str[0]), int(number_str[-1])])

# Apply the function to the "Numbers" column
cal[['FirstDigit', 'LastDigit']] = cal['Numbers'].apply(extract_digits)

In [5]:
# Define a function to extract the first and last digits
def extract_digits(number):
    # Convert the number to a string
    number_str = str(number)
    # Return the first and last digits concatenated
    return int(number_str[0] + number_str[-1])

# Apply the function to the "Numbers" column
cal['FirstLastDigit'] = cal['Numbers'].apply(extract_digits)

In [6]:
cal.head(100)

,Input,Numbers,FirstDigit,LastDigit,FirstLastDigit
0,qzjggk1one,11,1,1,11
1,two2seven7,2277,2,7,27
2,vszthreetwo6threethree4two3,32633423,3,3,33
3,zcsvvlslqvfive11chhzmdjdgz8vbgldl,5118,5,8,58
4,jjsmsksvbr77cfdrdseven1zd,7771,7,1,71
...,...,...,...,...,...
95,two7712two,277122,2,2,22
96,fdkbn4lhcfqcdjbfiveeight6,4586,4,6,46
97,foursjlrleight2five,4825,4,5,45
98,nzfmprckbcdvnzzj4xcpngq6,46,4,6,46
99,kczeightwo4fzshkzoneonesixfivegpnnrpsp,841165,8,5,85

In [7]:
total = cal['FirstLastDigit'].sum()
print(total)

55475